<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body class="happy-children">
    
    <%- include("../partials/nav") %>
    
    <%- include("../partials/index/jumbotron", { title: "Курсы", subTitle: title }) %>

    <div class="container">
        
            <h2>Курсы</h2>
            
            <!-- Добавление курса (добавление сразу в корень - невозможно!) -->
        
            <% if (id) { %>
                
                <a href="../courses/add/<%= id %>" class="btn btn-primary">Добавить курс</a>
            
            <% } %>

        <% if (data.courses && data.courses.length) { %>
            
            
            <%- include("../partials/courses-list", { 
                courses: data.courses, 
                actions: [{
                    name: "admin/courses/edit",
                    displayName: "Изменить",
                    buttonClass: "success"
                }, {
                    name: "delete-course",
                    displayName: "Удалить",
                    buttonClass: "danger"
                }
                ] 
            }) %>
            <% }  else { %>
                <p>Nothing found</p>
                <% }; %>
        
        <h2>Подкатегории</h2>
            
        <a href="category/add/<%= id %>" class="btn btn-primary">Добавить категорию</a>

        <% if (data.subCategories && data.subCategories.length > 0) { %>
            
            
            <%- include("../partials/categories-list", { 
                
                items: data.subCategories, 
                
                actions: [{
                    name: "admin/categories",
                    displayName: "Enter",
                    buttonClass: "primary"
                },
                {
                        name: "admin/categories/edit",
                        displayName: "Изменить",
                        buttonClass: "success"
                    }, {
                        name: "delete-category",
                        displayName: "Удалить",
                        buttonClass: "danger"
                    }
                ] 
            }) %> 

        <% }  else { %>
        <p>Nothing found</p>
        <% }; %>
    </div>
</body>
</html>