<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <div class="container">
        <form method="POST">
            
             
            <div class="form-group">
                <label for="title">Nice title for your new category</label>
                <input type="text" class="form-control" required name="title" id="title" placeholder="category title" value="<%= category.title %>">
            </div>  
            
            <div class="form-group">
                <label for="parentId">Select parent for your category</label>
                <select id="parentId" class="form-control"  name="parentId">
                    <% categories.forEach(item => {    <!-- for all other categories -->
                        
                        const selected = item.id == category.parentId ? "selected" : null; %>
                        
                        <option value="<%= item.id %>" <%=selected %>>
                            <%= item.title || "root" %>
                        </option>
                    <% }); %>
            
                </select>
            </div>

            <div class="form-group">
                <label for="desciption">Nice description for your new category</label>
                <input type="text" class="form-control" required name="description" id="description" placeholder="category desciption" value="<%= category.description %>">
            </div>

            <div class="form-group">
                    <label for="widgetClass">Beautiful class for your new category</label>
                    <input type="text" class="form-control" name="widgetClass" id="widgetClass" placeholder="css class">
                </div>  
    
                <div class="form-group">
                        <label for="widgetClass">Background color for your category</label>
                        <input type="text" class="form-control" name="bgColor" id="bgColor" placeholder="bg color">
                    </div>  
            
            <button type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>
</body>
