<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <!-- inputs: course, categories -->
    <div class="container">
        <form method="POST">
            
            <div class="form-group">
                <label for="title">Nice title for your course</label>
                <input type="text" class="form-control" required name="title" id="title" placeholder="category title" value="<%= course.title %>">
            </div>  
            
            <div class="form-group">
                <label for="typeId">Select category for your course</label>
                <select id="typeId" class="form-control" required name="typeId">
                    <% categories.forEach(cat => {    <!-- for all other categories -->
                        
                        const selected = cat.id == course.typeId ? "selected" : null; %>
                        
                        <option value="<%= cat.id %>" <%=selected %>>
                            <%= cat.title || "root" %>
                        </option>
                    <% }); %>
            
                </select>
            </div>

            <div class="form-group">
                <label for="desciption">Nice description for your course</label>
                <input type="text" class="form-control" required name="description" id="description" placeholder="category desciption" value="<%= course.description %>">
            </div>
            
            <div class="form-group">
                <label for="widgetClass">Beautiful class for your class</label>
                <input type="text" class="form-control" name="widgetClass" id="widgetClass" placeholder="css class" value="<%= course.widgetClass %>">
            </div>  

            <div class="form-group">
                    <label for="widgetClass">Background color for your class</label>
                    <input type="text" class="form-control" name="bgColor" id="bgColor" placeholder="bg color" value="<%= course.bgColor %>">
            </div>  

            <div class="form-group">
                    <label for="contents">Contents for your class</label>
                    <textarea type="text" class="form-control" name="contents" id="contents" placeholder="contents">
                            <%= course.contents %>"
                    </textarea>
            </div>  
            
            <button type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>
</body>
