<div class="card <%= item.widgetClass %>" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= item.description %></h6>
        <a href="/courses/<%= item.id %>" class="btn btn-primary"><%= buttonText %></a>            
    </div>
</div>