<div class="card <%= item.widgetClass %>" style="width: 18rem;">
    <div class="card-body" style="background-color: <%= item.bgColor %>">
        <h5 class="card-title"><%= item.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= item.description %></h6>

        <%- include("actions-menu", {
            actions,
            id: item.id
        }) %>       
    </div>
</div>