<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    
    <div class="neyronium-header">
        <%- include("partials/nav") %>
    </div>

    <%- include("partials/index/jumbotron", 
                { title: "", subTitle: "" }) %>
    
    <div class="main-content">
        
        <% if (data.courses && data.courses.length) { %>
            
            <h1><span class="h1">Курсыjj</span></h1>

            <%- include("partials/courses-list", { courses: data.courses, actions: [
                {
                    name: "../details",
                    displayName: "Подробнее",
                    buttonClass: "primary"
                }
                ], buttonText: "Подробнее" }) %>
        <% } %>
        
        <% if (data.subCategories && data.subCategories.length > 0) { %>
            
            <h1><span class="h1">Подкатегории</span></h1>

            <%- include("partials/categories-list", { 
                
                items: data.subCategories, 
                
                actions: [{
                        name: "/courses",
                        displayName: "Подробнее",
                        buttonClass: "primary"
                    }
                ] 
            }) %>
        <% } %>
    </div>
</body>
</html>