<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" 
    href="/stylesheets/style.css">
</head>
<body class="container">
        <h1><%= title %></h1>    
    <ul class="list-inline">
                <% data.courses && data.courses.forEach(course => { %>
                    <li class="list-inline-item">
                        <div class="card <%= course.widgetClass %>" style="width: 18rem;">
                            <div class="card-body">
                                    <h5 class="card-title"><%= course.title %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><%= course.description %></h6>
                                    <p class="card-text"><%= course.contents.substr(0,100) %></p>
                                    <a href="apply/<%= course.id %>" class="btn btn-primary">Купить</a>            
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
    <ul class="list-unstyled">
        <% if (data.subCategories && data.subCategories.length > 0) { %>
            <% data.subCategories.forEach(item => { %>
                <li class="fa-li fa fa-angle-right">
                    <h2><%= item.title %></h2>
                    <h4><%= item.description %></h4>
                    <ul class="list-inline">
                        <% item.courses && item.courses.forEach(course => { %>
                            <li class="list-inline-item">
                                <div class="card <%= item.widgetClass %>" style="width: 18rem;">
                                    <div class="card-body">
                                            <h5 class="card-title"><%= course.title %></h5>
                                            <h6 class="card-subtitle mb-2 text-muted"><%= course.description %></h6>
                                            <p class="card-text"><%= course.contents.substr(0,100) %></p>
                                            <a href="apply/<%= item.id %>" class="btn btn-primary">Купить</a>            
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }); %> 
        <% } %>    
    </ul>

</body>
</html>