
        
        <% if (parents.length) { %>

            <div class="breadcrumbs">
                <% parents.forEach(item => { %>
                    <span class="breadcrumbs-item">
                        <a href="/courses/<%= item.id %>">
                            <%= item.title %>
                        </a>
                        
                    </span>
                <% }); %>
                <span class="breadcrumbs-item">
                    <%= title %>
                </span>

            </div> 
        <% } %>
        <h1><span class="h1"><%= title %></span></h1>
        
        <p>
            <%- contents || description %>
        <p>

        <% if (data.courses && data.courses.length) { %>
            
            <h1><span class="h1">Занятия</span></h1>

            <%- include("partials/courses-list", { courses: data.courses, actions: [
                {
                    name: "../details",
                    displayName: "Подробнее",
                    buttonClass: "primary"
                }
                ], buttonText: "Подробнее" }) %>
        <% } %>
        
        <% if (data.subCategories && data.subCategories.length > 0) { %>
            
            <h1><span class="h1">Подкатегории</span></h1>

            <%- include("partials/categories-list", { 
                
                items: data.subCategories, 
                
                actions: [{
                        name: "/courses",
                        displayName: "Подробнее",
                        buttonClass: "primary"
                    }
                ] 
            }) %>
        <% } %>
    