<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body class="happy-children">
    <%- include("partials/nav") %>

    <%- include("partials/index/jumbotron", 
                { title: "Подробно", subTitle: course.title }) %>
    
    <div class="container">
        <h2><%= course.description %></h2>
        <p><%- course.contents %></p>
        <a href="/apply/<%= course.id %>" class="btn btn-primary">Оставить заявку</a>
        <a href="#" class="btn btn-secondary" onclick="history.back()">Назад</a>    
    </div>
    
</body>
</html>