<div class="non-mobile-only">
<div class="row">
    <div class="col-6">
            <% include partials/layout/humble-header %>
    </div>
    <div class="col-6 neyronium-contacts">
            
                    <a href="tel:<%= me.phone.link %>">
                        <span style="font-size: 20px;">
                            <%= me.phone.display %></a>
                        </span>
                    <br>
                    <a href="mailto:<%=me.email %>">
                                    <%=me.email %>
                            </a>
            
            <br>
            
            
                    </div>
                </div>
</div>


    
    <div class="neyronium-banner">
        
        <div class="mobile-only">
        
            <div class="neyronium-image-bottom neyronium-transparent"></div>
        <div class="neyronium-image-bottom neyronium-banner-title">
            <div class="row">
                <div class="col-md-6" style="text-align: left !important;">
                    
                </div>
                <div class="col-md-6">
                    
                        <div class="neyronium-banner-title-text">
                                
                            Нейрониум</div>    
                        <div class="neyronium-banner-subtitle-text">Центр развития интеллекта</div>    
                </div>
            </div>

        </div>    
            
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-9">

            <h1>
                <span class="h1">О центре</span>
            </h1>
            <p style="font-size: larger;">
                    Центр развития интеллекта:
            </p>
            <ul style="font-size: larger !important; line-height:20px">
                <li>комплексное обследование и развитие детей от 2 до 10 лет</li>
                <li>подготовим к школе по индивидуальной программе;</li>
                <li>решим проблемы с речью;</li>
                <li>помогаем там, где бессильна школа, массовые клубы и курсы;</li>
                <li>применяемые методики основаны на научных исследованиях и опробированы в течение 12 лет практики;</li>
                <li>мини-группы и индивидуально</li>
            </ul>

            <p>Занятия проводит психолог, логопед-дефектолог.</p>
                    
            <hr>
            <p style="font-size: larger;">
                Тел., viber, whatsapp 
                <a href="tel:<%= me.phone.link %>">
                        <%= me.phone.display %>
                </a>&nbsp;|&nbsp;
            <a href="/contacts">
                        Другие контакты
                </a>
            </p>
            
                       

            <h1>
                <span class="h1">Наши программы</span>
            </h1>



            <%- include("partials/categories-list", { 
            
                items: courses.subCategories, 
            
                actions: [{
                        name: "courses",
                        displayName: "Подробнее",
                        buttonClass: "primary"
                    }
                ] 
            }) %>

        </div>

        <div class="col-sm-3 aside">

            <h1>
                <span class="h1">Новости</span>
            </h1>
            <% latestPosts.forEach(item => { %>
                <p>
                    <span class="fa fa-vk" style="color: #4c75a3;  width: 20px;"></span>
                    <strong>
                        <%= item.date %>
                    </strong>
                </p>
                <p>
                    <%- item.text.replace("\n", "<br>") %>
                        <a href="#" onclick="window.open('<%= item.link %>', '_blank'); return false;">Читать полностью</a>
                </p>

                <hr/>
                <% }); %>
        </div>
        
    </div>
    


    </div>
    </div>

     