<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Курсы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" 
    href="/stylesheets/style.css">
</head>
<body class="container">        
        <div class="button-group">
            <button class="btn btn-sm btn-success">
                <span class="fa fa-address-card"></span>
                Обо мне</button>
            <button class="btn btn-sm btn-danger">
                <span class="fa fa-envelope"></span>
                Контаты
            </button>
            <button class="btn btn-sm btn-primary">
                <span class="fa fa-pencil"></span>
                Блог
            </button> 
        </div>
    <div class="jumbotron jumbotron-fluid happy-children">
        <div class="container">
            <h2 class="display-2gi">Психолог & Логопед</h2>
            <p class="lead">Тут можно найти всякие курсы.</p>
        </div>
    </div>
    
    <ul class="list-inline">
            <% courses.subCategories.forEach(course => { %>
                <li class="list-inline-item">
                        <div class="card <%= course.widgetClass %>" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title"><%= course.title %></h5>
                                  <h6 class="card-subtitle mb-2 text-muted"><%= course.description %></h6>
                                  <p class="card-text"><%= course.contents %></p>
                                  <a href="courses/<%= course.id %>" class="card-link">Подробнее</a>
                                </div>
                              </div>
                    
                </li>
            <% }) %>
    </ul>
    </div>
</body>
</html>