<!DOCTYPE html>
<html>
<head>
    <%- include("partials/head") %>
</head>
<body class="happy-children">        

    <%- include("partials/nav") %>

    <%- include("partials/index/jumbotron", 
                { title: "Нейрониум", subTitle: "Центр развития интеллекта" }) %>
        

    <div class="container" >
        
        <%- include("partials/index/content") %>

        <%- include("partials/categories-list", { 
            
                items: courses.subCategories, 
            
                actions: [{
                        name: "courses",
                        displayName: "Подробнее",
                        buttonClass: "primary"
                    }
                ] 
            }) %>
    
        
        </div>
    </div>
</body>
</html>