<div class="neyronium-footer">
        
    <strong><%= me.companyName %></strong>&nbsp;|&nbsp;<%= me.companyDescription %><br>
    
    <span>
        <a href="tel:<%= me.phone.link %>">
            <%= me.phone.display %>
        </a>
        |
        <a href="mailto:<%= me.email %>">
            <%= me.email %>
        </a>
    </span>    

</div>