<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body class="happy-children">
    
    <%- include("partials/nav") %>
    
    <%- include("partials/index/jumbotron", { title: "Курсы", subTitle: title }) %>

    <div class="container">
        <h2><%= description %></h2>
        
        <% if (data.courses && data.courses.length) { %>
            <h2>Курсы</h2>
            <%- include("partials/courses-list", { courses: data.courses, buttonText: "Подробнее" }) %>
        <% } %>
        
        <% if (data.subCategories && data.subCategories.length > 0) { %>
            <h2>Подкатегории</h2>

            <%- include("partials/categories-list", { items: data.subCategories, buttonText: "Подробнее" }) %>
        <% } %>
    </div>
</body>
</html>